*, in
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 50%; } }

body {
  background-image: linear-gradient(to right, #c2e1e8, #96c3cc);
  font-family: 'Mallanna', sans-serif; }

.container {
  width: 95vw;
  background-color: #fff;
  margin: 15rem auto;
  box-shadow: 2rem 1rem 5rem rgba(68, 68, 68, 0.3);
  display: grid;
  grid-template-columns: 50% 50%; }

@media only screen and (max-width: 600px) {
  .container {
    width: 100vw; } }

.section-1 {
  background-color: #fff;
  padding: 4rem;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); }
  .section-1__logo {
    height: 3.5rem;
    width: 3.5rem; }
    .section-1__logo img {
      object-fit: cover;
      height: 100%; }
  .section-1__links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.1rem;
    letter-spacing: 3px;
    color: #777; }
    @media only screen and (max-width: 50em) {
      .section-1__links {
        flex-direction: column; } }
  .section-1__link {
    transition: all .3s; }
    .section-1__link:hover {
      color: rgba(237, 26, 99, 0.7);
      transform: scale(1.03) translateY(-1px);
      cursor: pointer; }
  .section-1__brand {
    color: #444;
    font-family: 'Kanit', sans-serif;
    align-self: flex-end;
    display: grid;
    grid-template-columns: repeat(2, minmax(5rem, 30%));
    grid-template-rows: repeat(2, minmax(5rem, 25%));
    font-size: 5.5rem; }

.section-2 {
  display: grid;
  grid-template-columns: 1fr 22%; }
  .section-2__display {
    border-left: 1px solid rgba(153, 153, 153, 0.9);
    position: relative; }
    .section-2__display--icon {
      color: #fff;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      font-size: 1.2rem; }
    .section-2__display--pic {
      overflow: hidden;
      height: 100%; }
    .section-2__display--img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      display: block; }
  .section-2__display--btn {
    display: flex;
    text-align: center;
    height: 6rem;
    width: 6rem;
    background-color: #ed1a63;
    display: block;
    border-radius: 50%;
    box-shadow: 0 1rem 1rem rgba(237, 26, 99, 0.5);
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: all .3s; }
    .section-2__display--btn:active {
      transform: translateX(-50%) translateY(-50%) scale(0.97);
      box-shadow: 0 0.8rem 1rem rgba(237, 26, 99, 0.5); }
  .section-2__sidebar {
    display: grid;
    grid-template-rows: repeat(2, 1fr); }
  .section-2__search {
    background-color: #444;
    text-align: center; }
    .section-2__search--icon {
      margin-top: 6rem;
      font-size: 1.3rem;
      color: rgba(255, 255, 255, 0.7); }
  .section-2__links {
    background-color: #ed1a63;
    display: flex;
    justify-content: center;
    align-items: center; }
  .section-2__wrap {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    text-align: center; }
  .section-2__link {
    padding: 1.5rem;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.7); }
